:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 80%; /* Or any desired width */
  margin-left: 100px;
  margin-top: 100px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.board-row {
  padding: 1px 1px 1px 1px;
}

.board {
  position: absolute;
  left: 10px;
  top: 10px;
}

.square {
  width: 100px;
  height: 100px;
  font: bold 36px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.selected {
  background-color: #444;
  color: #eee;
}

.correct {
  background-color: #070;
  color: #eee;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.button-container {
  display: flex;
}


.correctStyle {
  height : 40px;
  width : 40px;
  font-size : 32px;
  text-align : center;
  background: #0f0;
  size: 1;
}

.openStyle {
  height : 40px;
  width : 40px;
  font-size : 32px;
  text-align : center;
}

